
<h1 style="text-align: center;"  class="clickable-div" (click)="onChatClick()">Chats</h1>
<div *ngIf="users && !threadVisible" >
    <p-dataView #dv [value]="users" >
        <ng-template pTemplate="list" let-users>
            <div class="grid grid-nogutter">
                <div class="col-12" *ngFor="let item of users; let first = first" class="col-12">
                    <div class="flex flex-column sm:flex-row sm:align-items-center p-2 gap-1 clickable-div" [ngClass]="{ 'border-top-1 surface-border': !first }" (click)="onUserClick(item)">
                        <div class="clickable-div">
                            <p-avatar label="{{item.userName[0] | capitalize}}" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                        </div>
                        <div class="flex flex-column clickable-div">
                            <span class="text-lg font-large text-900">
                                {{ item.userName | capitalize }}
                            </span>
                            <div class="flex gap-1">
                                <p-tag *ngIf="item.isOnline" severity="success" value="Online" [rounded]="true"></p-tag>
                                <p-tag *ngIf="!item.isOnline" severity="secondary" value="Offline" [rounded]="true"></p-tag>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>



    <div   *ngIf="threadVisible">
        <p-panel *ngIf="selectedUser" [toggleable]="false">
            <ng-template pTemplate="header">
                <div class="flex flex-column sm:flex-row sm:align-items-center p-2 gap-1 clickable-div" >
                    <div class="clickable-div">
                        <p-avatar label="{{selectedUser.userName[0] | capitalize}}" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                    </div>
                    <div class="flex flex-column clickable-div">
                        <span class="text-lg font-large text-900 text-bold">
                            {{ selectedUser.userName | capitalize }}
                        </span>
                        <div class="flex gap-1">
                            <p-tag *ngIf="selectedUser.isOnline" severity="success" value="Online" [rounded]="true"></p-tag>
                            <p-tag *ngIf="!selectedUser.isOnline" severity="secondary" value="Offline" [rounded]="true"></p-tag>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
            <div class="w-full">
                <div class="flex items-center gap-3 w-full">
                <!-- Input takes up available space -->
                <input 
                    pInputText 
                    id="username" 
                    class="flex-grow w-full" 
                    aria-describedby="username-help" 
                    [(ngModel)]="message" />

                <!-- Button next to the input -->
                <p-button icon="pi pi-send" severity="secondary"(onClick)="sendMessage()" rounded="true" text="true" />
                </div>
            </div>
            </ng-template>
 

            <p-scrollPanel [style]="{ width: '100%', height: '56vh' }">
                <div *ngFor="let msg of chats" class="message" [ngClass]="{'sent': msg.userId === 1, 'received': msg.userId !== 1}">
                    <div class="message-content">
                      <p>{{ msg.message }}</p>
                      <small class="message-date">{{ msg.date }}</small>
                    </div>
                  </div>
            </p-scrollPanel>
        </p-panel>  
      </div>



