
<h3 class="font-small text-center">New Property</h3>

<div class="card">
  <p-stepper orientation="vertical" [linear]="false">

      <p-stepperPanel header="Address Details">
          <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index" >
              <div class="flex flex-column h-[auto]">
                  <div class="width[100%]">
                      <app-step-one
                        [lawFirms]="lawFirms"
                        [propertyTypes]="propertyTypes"
                        [suburbs]="suburbs"
                        [cities]="cities"
                      ></app-step-one>
                  </div>
              </div>
              <div class="flex py-4">
                  <p-button label="Next" [outlined]="true" (onClick)="nextCallback.emit()"  />
              </div>
          </ng-template>
      </p-stepperPanel>

      <p-stepperPanel header="Property Details">
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
              <div class="flex flex-column h-[auto]">
                <div class="width[100%]">
                  <app-step-two></app-step-two>
              </div>
              </div>
              <div class="flex py-4 gap-2">
                  <p-button [outlined]="true" label="Back" severity="secondary" (onClick)="prevCallback.emit()" />
                  <p-button [outlined]="true" label="Next" (onClick)="onSubmit(nextCallback)" />
              </div>
          </ng-template>
      </p-stepperPanel>

      <p-stepperPanel header="Upload Images">
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
              <div class="flex flex-column h-[auto]">
                <div class="width[100%]">
                  <app-step-three></app-step-three>
              </div>
              </div>
              <div class="flex py-4 gap-2" >
                  <p-button label="Back" *ngIf="!isNewProperty" [outlined]="true" severity="secondary"  (onClick)="prevCallback.emit()" />
                  <p-button label="Save Images" [outlined]="true"  (onClick)="uploadAllImages()" /> 
              </div>
          </ng-template>
      </p-stepperPanel>
  </p-stepper>
</div>


<p-toast />
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="false"
  [showSpinner]="true"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


