<form [formGroup]="myForm" (ngSubmit)="onSubmit()"  class="center-container" >
  <p-card header="Change Password" [style]="{ width: '360px' }">
    <div class="field">
      <label for="username">Username</label>
      <input
        type="text"
        pInputText
        formControlName="username"
        class="w-full"
        name="username"
      />
      <small
        *ngIf=" (myForm.controls['username'].dirty || myForm.controls['username'].touched)"
        class="block p-error"
      >
        <div *ngIf="myForm.controls['username'].errors?.['required']">Username is required.</div>
      </small>
    </div>

    <div class="field">
      <label for="oldPassword">Old Password</label>
      <input
        type="password"
        pInputText
        formControlName="oldPassword"
        class="w-full"
        name="oldPassword"
      />
      <small
        *ngIf=" (myForm.controls['oldPassword'].dirty || myForm.controls['oldPassword'].touched)"
        class="block p-error"
      >
        <div *ngIf="myForm.controls['oldPassword'].errors?.['required']">Old Password is required.</div>
      </small>
    </div>

    <div class="field">
      <label for="newPassword">New Password</label>
      <input
        type="password"
        pInputText
        formControlName="newPassword"
        class="w-full"
        name="newPassword"
      />
      <small
        *ngIf=" (myForm.controls['newPassword'].dirty || myForm.controls['newPassword'].touched)"
        class="block p-error"
      >
        <div *ngIf="myForm.controls['newPassword'].errors?.['required']">New Password is required.</div>
      </small>
    </div>

    <p-button
      label="Change"
      styleClass="w-full"
      [disabled]="myForm.invalid"
      type="submit"
    ></p-button>
    <div style="font-size: 10px; padding-top: 0.5rem;">
 
      <a>Dont have Account ? </a><mat-label class="redirect-link" routerLink="/register">Register</mat-label> ||
      <a> Remember Password ? </a><mat-label class="redirect-link" routerLink="/login">Login</mat-label>
    </div>
  </p-card>
</form>

<p-toast />