<p-menubar [model]="items" [style]="{'position':'fixed','top':'0','z-index':'999','width':'100%', 'margin':'0', 'left':'0'}" >
  <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple class="flex align-items-center p-menuitem-link" [routerLink]="item.routerLink">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
          <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
          <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
      </a>
  </ng-template>
  <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        
        <p-toggleButton 
            onIcon={{themeIcon}}
            offIcon={{themeIcon}}
            [(ngModel)]="checked"           
            (onChange)="changeTheme(checked ? 'dark':'light')" /> 

        <p-button *ngIf="!loggedInUser" label="Login" (onClick)="navigateToLogin()" icon="pi pi-sign-in" class="mr-2"></p-button>

        <div *ngIf="loggedInUser" class="card flex justify-content-center">
            <p-toast />
            <p-splitButton 
                label="Hello {{loggedInUser.userName}}" 
                (onClick)="save('info')" 
                text 
                [outlined]="true"
                
                [model]="buttonItems" />
        </div>
      </div>
  </ng-template>
</p-menubar>




