<div class="grid">
    <div class="col-12 md:col-8 lg:col-8 sm:col-12 xl:8">
        <div *ngIf="propertyPhotos.length>0" class="border-1 surface-border border-round m-2 p-3">
            <p-galleria 
            [value]="propertyPhotos" 
            [showIndicators]="true" 
            [showThumbnails]="false" 
            [changeItemOnIndicatorHover]="true" 
            [responsiveOptions]="responsiveOptions" 
            [containerStyle]="{ 'max-width': '100%',  }"> 

              <ng-template pTemplate="item" let-item>
                  <img [src]="item.photoUrl"  class="w-full border-round image-style" />
             
              </ng-template>
          </p-galleria>


        
        </div>
    </div>
    <div class="col-12 md:col-4 lg:col-4 sm:col-12 xl:4">
        <div class="border-1 surface-border border-round m-2 p-3">
            <div class="text-center p-3 border-round-sm bg-primary font-bold ">Law Fim and Logo</div>
            <br>
            <div class="text-center p-3 border-round-sm bg-primary font-bold ">Review Summary</div>
            <br>
            <br>
            <br>
            <br>
            <p-button [raised]="true" label="Contact  Law Firm"   [outlined]="true" severity="secondary" [style]="{'width': '100%'}"/>
            <p-button [raised]="true" label="Message Owner"   [outlined]="true" severity="secondary"  [style]="{'width': '100%'}"/>
            <p-button [raised]="true" label="Make Offer"   [outlined]="true" severity="secondary"  [style]="{'width': '100%'}"/>
        </div>

    </div>
</div>



<div *ngIf="currentProperty">
    
    <p-panel [toggleable]="true" [collapsed]="false">
        <ng-template pTemplate="header">
            <div class="flex items-center gap-2">
                <span class="font-bold">{{currentProperty.price | currency}}</span>
            </div>
        </ng-template>
        <p class="m-0">
            {{currentProperty.propertyTypeName}} with  {{currentProperty.registrationTypeId}}
       </p>

       <p class="m-0">
           {{currentProperty.address}}, {{currentProperty.cityName}}
      </p>
      <div class="card flex align-items-center gap-2 flex-wrap mt-2">
            <p-chip label="{{currentProperty.squareMetres}} &#13217;"  />
            <p-chip label="{{currentProperty.numberOfRooms}} Rooms"  />
            <p-chip label="{{currentProperty.numberOfBathrooms}} Bathrooms"  />
            <p-chip label="{{currentProperty.parkingSpots}} Parking"  />
        </div>


        <ng-template pTemplate="footer">
            <div class="flex flex-wrap items-center justify-between gap-4">
                <div class="flex items-center gap-2">
                    <p-button icon="pi pi-thumbs-up" severity="secondary" >  {{currentProperty.numberOfLikes}}</p-button>
                </div>
            </div>
        </ng-template>

    </p-panel>

    <br>
    <p-panel header="Description" [toggleable]="true" [collapsed]="true">
        <p class="m-0">
            {{currentProperty.description}}
        </p>
    </p-panel>


    <br>
    <p-panel header="Amenities" [toggleable]="true" [collapsed]="true">
        <div class="card flex align-items-center gap-2 flex-wrap">
            @for (item of this.currentAmenities; track $index) {
                <p-chip label="{{item.name}}" />
            }
        </div>
    </p-panel>

    <br>
    <p-panel header="Offers" [toggleable]="true" [collapsed]="true">
      <app-my-offers></app-my-offers>
    </p-panel>

    <br>
    <p-panel header="Viewings" [toggleable]="true" [collapsed]="true">
        <app-viewing [currentPropertyId]="currentPropertyId"></app-viewing>
    </p-panel>


</div>


