

<p-toolbar styleClass="bg-red" [style]="{ 'margin-top': '4px', 'border': 'none' }">
  <div class="p-toolbar-group-start">
      <p-button label="Create New" [raised]="true"  [outlined]="true" icon="pi pi-plus" class="mr-2" (click)="navigateToNewPage('new-property')"/>
  </div>
  <div class="p-toolbar-group-center">
      <span class="p-input-icon-right">
          <i class="pi pi-search" (click)="searchItem()"></i>
          <input pInputText placeholder="Search By City"  [(ngModel)]="searchTerm"/>
      </span>
  </div>
</p-toolbar>


<div class="card">
  <p-dataView #dv 
    [value]="propertiesDataSource" 
    [style]="{ 'height': '10%' }"
    >

      <ng-template pTemplate="list" let-products>
          <div class="grid grid-nogutter">
              <div class="col-12" *ngFor="let item of propertiesDataSource; let first = first" class="col-12">
                  <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                      <div class="md:w-10rem relative">
                          <img class="block xl:block mx-auto border-round w-full md:h-8rem" [src]="item.thumbnailUrl" [alt]="item.address" />
                          <!-- <p-tag [value]="item.inventoryStatus" [severity]="getSeverity(item)" class="absolute" [style.left.px]="4" [style.top.px]="4" /> -->
                      </div>
                      <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                          <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                              <div>
                                  <span class="font-medium text-secondary text-sm">{{ item.address }}</span>
                                  <div class="text-lg font-medium text-900 mt-2">{{ item.propertyTypeName }}</div>
                              </div>
                              <div class="surface-100 p-1" style="border-radius: 30px">
                                  <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                      <span class="text-900 font-medium text-sm">{{ item.numberOfLikes }}</span>
                                      <i class="pi pi-star-fill text-yellow-500"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="flex flex-column md:align-items-end gap-5">
                              <span class="text-xl font-semibold text-900">{{ '$' + item.price }}</span>
                              <div class="flex flex-row-reverse md:flex-row gap-2">
                                  <p-button icon="pi pi-pen-to-square" [raised]="true" [outlined]="true" (click)="navigateToPageWithId('edit-property', item.propertyId)" />
                                  <p-button icon="pi pi-eye" [raised]="true" [outlined]="true" (click)="navigateToPageWithId('property-details', item.propertyId)" />
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
  </p-dataView>

  <p-paginator 
    (onPageChange)="onPageChange($event)" 
    [first]="first"
    [rows]="pageSize" 
    [totalRecords]="totalCount" 
    [rowsPerPageOptions]="[3, 5, 10, 20, 30]" />
</div>