.responsive-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media (max-width: 768px) {
    .responsive-container {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 576px) {
    .responsive-container {
      padding-left: 0;
      padding-right: 0;
    }
  }