@media (max-width: 768px) {
  // .fc-toolbar-title {
  //   font-size: 16px; /* Adjust title font size */
  // }
  .fc .fc-toolbar-title{
    font-size: 1rem; 
  }
  .fc-prev-button, .fc-next-button, .fc-today-button {
    display: none; /* Hide navigation buttons on mobile */
  }

  .fc-custom-button {
    display: block; /* Ensure custom button is visible */
    font-size: 14px;
    padding: 5px 10px;
  }
}

.p-dialog{
  height: 90% !important;
}


